
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Listings/AddListings.cshtml";
}

<h2>Index</h2>
<strong>Name</strong> : @ViewData["PropertyName"]
<br />
<strong>City</strong> : @ViewData["city"]
<br />
<strong>Address</strong> : @ViewData["area"]
<br />

